
<div *ngIf="empresas">
    <h2><span jhiTranslate="triviaApp.empresas.detail.title">Empresas</span> {{empresas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="triviaApp.empresas.nombre">Nombre</span></dt>
        <dd>
            <span>{{empresas.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="triviaApp.empresas.razonSocial">Razon Social</span></dt>
        <dd>
            <span>{{empresas.razonSocial}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'empresas/'+ empresas.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
